body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: burlywood;
}
header{
    display: flex;
}
#icon{
    height:10vh;
}
#main-title{
    position:relative;
    left:1vh;
}
#main-container{
    position:fixed;
    top:11vh;
    left:-1vh;
    width:101vw;
    height:89vh;
    border: 3px solid;
    padding:1vh;
    padding-left: 2vh;
}
#main-container textarea{
    width: 90vh;
    height: 40vh;
}