body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: burlywood;
    cursor: url(cursor_smaller.png) 0 0, auto;
}
header{
    display: flex;
    min-height: 200px;
}
#icon{
    position: static;
    height:10vh;
    top:0px;
    left:0px;
    margin-right: 2vh;
}
#main-title{
    position:relative;
    line-height:0px;
    top: 0px;
    min-width: 300px;
}
#links{
    margin:2vh;
    position: relative;
    border:.5vh solid;
    height: 6vh;
    width: 65vw;
    padding:0.5vh;
    padding-left:1vw;
    padding-right:1vw;
    overflow:scroll;
}
#main-container{
    position:fixed;
    top:10vh;
    left:-3vw;
    width:101vw;
    height:90vh;
    border: .5vh solid;
    padding:1vh;
    padding-left: 4vh;
    margin: 2vh;
}